.doctor-card {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.doctor-card.slide-in-left {
    animation-name: slideInLeft;
}

.doctor-card.slide-in-right {
    animation-name: slideInRight;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}